<strong>Olá, {{ deliveryman }}</strong>
<p>Uma encomenda sua foi cancelada, confira os dados abaixo:</p>
<p>
  <strong>Cliente: </strong> {{ user }} - {{ city }} <br />
  <strong>Produto: </strong> {{ product }} <br />
  <br />
  <small>
    Aguarde uma nova encomenda da nossa equipe.
  </small>
</p>
