<strong>Olá, {{ deliveryman }}</strong>
<p>Uma nova encomenda foi realizada, confira os dados abaixo:</p>
<p>
  <strong>Cliente: </strong> {{ user }} - {{ city }} <br />
  <strong>Produto: </strong> {{ product }} <br />
  <br />
  <small>
    Acesse o aplicativo para ver mais detalhes dessa encomenda.
  </small>
</p>
